body {
    font-family: sans-serif;
}

h1 {
    color: orange;
    text-align: center;
    font-size: 24px;
}

p {
    color: black;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

[class*="centerElement-"] {
    padding: 5px;
    width: 40%;
    font-size: 16px;
    text-align: center;
    margin-left: auto;
    margin-right:auto;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block
}

.centerElement-Button {
    border-radius: 25px;
    border: 2px solid grey;
    background-color: grey;
    color: white;
}
/*
.centerElement-Button:hover {
    background-color: #cccccc;
    border-color: #fff;
    transition: all .1s ease-in-out;
}*/
.centerElement-Button:active{
    background-color: rgb(236, 95, 95)
}

.smallButton {
    border-radius: 10px;
    border: 2px solid grey;
    padding: 5px;   
}

.item {
    background-color: white;
    padding: 0 5px;
}

.greyBg {
    background-color: lightgrey;
}

.whiteBg {
    background-color: white;
}

.nobull {
  list-style-type: none;
}

.row.display-flex {
    display: flex;
    flex-wrap: wrap;
    background-color: #cccccc;
}
.row.display-flex > [class*='col-'] {
    flex-grow: 1;
}


/* Thumbnail section */

.myContainer {
    display: flex; 
    text-align: center;
    flex-wrap: wrap;
  }

.box {
    background-color: #d8dada;
    /*border: 1px solid #fff; */
    padding: 3px;
    font-size: 16px;
    color: rgb(200, 200, 200);
    text-align: center;
    overflow: hidden;
    position: relative;
    height: 190px;
    position: relative;
}

.box img{
    height: 100%;
}

.box:hover .boxControl{
    display: block
}

.boxControl {
    position: absolute;
    top: 8px;
    left: 8px;
    display: none
}

.boxControl .trash:hover {
    color: rgb(240, 240, 200);
}

.boxControl .select:hover {
    color: rgb(240, 240, 200);
}
/* end thumbnail */

/* Processing section */

.imageTab {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    
}

.processingButton {
    background-color: lightgrey;
    border: none;
    color: black;
    padding: 5px 10px;
    text-align: center;
    display: inline-block;
    margin: 4px 2px;
}



button, input, select, textarea, optgroup {
    font: inherit;
    margin:0
}

optgroup {
    font-weight: bold
}

button, input {
    overflow:visible
}

button, select {
    text-transform: none
}

button, [type=button], [type=reset], [type=submit] {
    -webkit-appearance: button
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
    border-style: none;
    padding: 0
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
    outline: 1px dotted ButtonText
}

/* New tab styling */
/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }

/* w3 buttons are used for the tabs */

.w3-btn, .w3-button {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap
}

.w3-button:hover {
    color: #000 !important;
    background-color: #ccc !important
}

.w3-button.active {
   
    color: #000 !important;
    background-color: #f1f1f1 !important
}

.w3-btn, .w3-button {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.w3-disabled, .w3-btn:disabled, .w3-button:disabled {
    cursor: not-allowed;
    opacity:0.3
}

.w3-disabled *, :disabled * {
    pointer-events: none
}

.w3-btn.w3-disabled:hover, .w3-btn:disabled:hover {
    box-shadow: none
}
.w3-border {
    border: 1px solid #ccc !important
}

.w3-light-grey, .w3-hover-light-grey:hover, .w3-light-gray, .w3-hover-light-gray:hover {
    color: #000 !important;
    background-color: #f1f1f1 !important
}

.w3-dark-grey, .w3-hover-dark-grey:hover, .w3-dark-gray, .w3-hover-dark-gray:hover {
    color: #fff !important;
    background-color: #616161 !important
}   

/* Modal Browser */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-container {
    background-color: #fefefe;
    margin: 5% auto; /* 5% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    height: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
  }

  .m2 {
      display: flex;
    align-items: center;
    flex: 1;
    height: 80%;
  }

  .modal-content {
      height: 100%;
      align-items: center;
      display: flex;
  }
  
  .modal-content img {
      width: 100%;
      object-fit: contain;
      margin: auto;
      align-items: center;
      height: 100%;
  }
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    justify-content: flex-end;
    width: 100%
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .arrow {
      padding-left: 10px;
      padding-right: 10px;
      font-size: 25px;
      color: darkgrey;
  }

/* Responsive - drop number of columns on smaller devices 
@media (max-width:767px) {
    .myContainer { grid-template-columns:50% 50%}
}*/